@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background-color: #ffa341;
  font-size: 28px;
  font-weight: 600;
}
header span {
  display: inline-block;
}

@media (max-width: 568px) {
  header {
    font-size: 16px;
  }
}
@media (min-width: 569px) and (max-width: 768px) {
  header {
    font-size: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  header {
    font-size: 28px;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  header {
    font-size: 30px;
  }
}
.input-task-block {
  margin-top: 8%;
  background-color: #ffb76b;
  min-width: 40%;
  min-height: 30%;
  padding: 2%;
  align-self: center;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  margin-bottom: 2%;
  font-size: 20px;
}
.input-task-block input {
  margin-top: 5%;
  padding: 2%;
  border-radius: 30px;
  border: 2px solid grey;
}
.input-task-block input:focus {
  outline: none;
  border: 2px solid black;
}
.input-task-block button {
  margin-top: 5%;
  width: 50%;
  height: 35px;
  border: 1px solid grey;
  border-radius: 17px;
  align-self: flex-end;
  background-color: rgb(84, 236, 84);
  transition: all 0.5s;
}
.input-task-block button:hover {
  width: 52%;
  height: 45px;
}

.task-list {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  min-width: 40%;
  padding: 2%;
}

@media (max-width: 568px) {
  .input-task-block {
    font-size: 14px;
  }
}
@media (min-width: 569px) and (max-width: 768px) {
  .input-task-block {
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .input-task-block {
    font-size: 18px;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .input-task-block {
    font-size: 20px;
  }
}
.task {
  align-self: center;
  padding: 2%;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  width: 100%;
  margin-bottom: 4%;
}
.task .date {
  margin-bottom: 2%;
  margin-left: 2%;
  background-color: wheat;
  width: fit-content;
  padding: 1%;
  border-radius: 10px;
}
.task .task-content {
  background-color: #fff;
  padding: 2%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.task .task-content input {
  margin-right: 2%;
}
.task .task-content span {
  margin-left: 2%;
}
.task button {
  align-self: flex-end;
  margin-top: 1.5%;
  width: 25%;
  min-width: fit-content;
  height: 30px;
  border-radius: 10px;
  border: 1px solid gray;
  background-color: rgb(209, 209, 209);
  transition: all 0.5s;
}
.task button:hover {
  width: 30%;
  height: 40px;
  background-color: rgb(201, 201, 201);
}

* {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  min-height: 100vh;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=styles.css.map */
