//colors
$main-background-color: #EFEFEF;
$task-card-color: #FFFFFF;
$task-card-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
$active-task: #007BFF;
$title-text-color: #333333;
$secondary-text-color: #666666;
$completed-tasks: #4CAF50;
$priority-task: #FF3B30;
$orange-color: #ff6f43;

// media-sizes 
$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-large-desktop: 1200px;